/*
 * Body
 */
main {
    padding: 30px 0 30px 0;
}

main > .container {
    width: 80%;
}

main #empty {
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
    width: 300px;
}

/*
 * Header
 */
header nav {
    height: 75px;
    padding-left: 30px;
}

header nav a#title {
    font-size: 32px;
    line-height: 75px;
}

/*
 * Footer
 */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer span:first-of-type {
    padding-left: 30px;
}

footer span:last-of-type {
    padding-right: 30px;
}

footer span img {
    height: 25px;
    margin: 0 0 5px 5px;
    vertical-align: middle;
}

@media (max-width: 600px) {
    footer span {
        display: block;
        padding: 0 !important;
        text-align: center;
        width: 100%;
    }
}

/*
 * Parallax
 */
div.parallax-container {
    height: 450px;
    margin: -30px 0 50px 0;
}

/*
 * Sidebar
 */
header, main, footer {
    padding-left: 240px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

#sidebar .side-nav li a {
    height: 60px;
    line-height: 60px;
}

#sidebar .side-nav li#logo {
    padding: 20px 0 0 0;
    text-align: center;
}

#sidebar .side-nav li#logo a {
    height: 55px;
    line-height: 55px;
}

#sidebar .side-nav li#logo a img {
    width: 210px;
}

#sidebar .side-nav li.bold {
    font-weight: 500;
}

#sidebar .side-nav li i {
    color: #616161;
    vertical-align: middle;
}

#sidebar .side-nav li a {
    color: #212121;
    display: inline-block;
    padding-left: 5px;
}

/*
 * Tables
 */
table tbody tr td.actions {
    padding: 0;
    width: 1%;
}

table tbody tr td.actions i {
    color: #333333;
    visibility: hidden;
    font-size: 24px;
    margin-right: 5px;
}

table tbody tr:hover td.actions i {
    visibility: visible;
}
